<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Information |</title>
</head>
<body>

<center>
    <form action="#"  th:action="@{/update}" th:object="${obj}" method="POST" >
      <!--Hello <p th:text="${id}"></p>-->
<table cellpadding="2" cellspacing="2" th:each="emp :${find}">
    <tr>
        <th> Id :</th>
        <td ><input type="text"  th:VALUE="${userId}" /></td>
    </tr>
    <tr>
        <th> First Name :</th>
        <td ><input type="text" th:field="*{fname}" placeholder="Enter first Name : "/></td>
    </tr>
    <tr>
        <th> Last Name :</th>
        <td ><input type="text" th:field="*{lname}" placeholder="Enter first Name : "/></td>
    </tr>
    <tr>
        <th> Salary :</th>
        <td ><input type="text" th:field="*{sal}" placeholder="Enter first Name : "/></td>
    </tr>
</table>
        <input type="submit" value="Update"/>
    </form>
</center>
</body>
</html>